<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<style>
body {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 5em 30em 10em;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 2;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;

  padding: 1em 0;
}

header,

footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
aside{
	background: #eaeaea;
	text-align: center;
	padding:inherit;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  top:10%;
height: 50px;
width: 100px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}
.si{
      
    
    
position:absolute;
    right:60%;
    top:2%;
    width:30%;
}
.dropdown {
  position: relative;
  display: inline-block;
  width:100px;
  height:50px;
}
.abc
{
  
position:absolute;
  right:38.2%;
    top:2%;
    width:30%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
table, td, th {
  border: 1px solid #ddd;
  text-align: left;

}

table {
  table-layout: auto;
  border-collapse: collapse;
  empty-cells: hide;
}


th, td {
  padding: 15px;
}
tr:nth-child(even) {background-color: #f2f2f2;}

</style>
</head>
<body>
<main>
<div class="dropdown">
	<button onclick="myfunction()" class="dropbtn">Filter</button>
	<div id="myDropdown" class="dropdown-content">
	  <a href="complaints_in_progress">complaints_in_progress</a>
      <a href="completed_complaints">completed_complaints</a>
      <a href="listofcomplaint">Total_complaints_received</a>
	
	</div>
  </div>

  <script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myfunction() {
	document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
	if (!event.target.matches('.dropbtn')) {
	  var dropdowns = document.getElementsByClassName("dropdown-content");
	  var i;
	  for (i = 0; i < dropdowns.length; i++) {
		var openDropdown = dropdowns[i];
		if (openDropdown.classList.contains('show')) {
		  openDropdown.classList.remove('show');
		}
	  }
	}
  }
  </script>
<div class="si">
    <br>Type in a id: <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for empid.." title="Type in a id"><br><br><br>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <div class="abc">
   <br> From: <input id="searchFrom" class="searchInput" type="text" title="From:" placeholder="format:DD-MM-YYYY"/>
   To: <input id="searchTo" class="searchInput" type="text" title="To:" placeholder="format:DD-MM-YYYY" >
  </div>
<table id="myTable" style="width:80%" class="a">

   <br><tr>
      <th>Name</th>
      <th>Subject</th>
      <th>complaint</th>
      <th>employeeid</th>
      <th>date_start</th>
      <th>status</th>
    <th>rating</th>
    <th>review</th>
    </tr>


      <%fname.forEach(function(it,i){%>

         <tr>
          <td><%=it%></td>
      <td><%=subject[i]%></td>
      <td><%=cmp[i]%></td>
      <td><%=id[i]%></td>
      <td><%=date_start1[i]%></td>
      <td><%=status[i]%></td>
      <td><%=rating[i]%></td>
      <td><%=review[i]%></td>
  </tr>
      <%});%>

    </table>
    <script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
        </script>
        <script>
 $(".searchInput").on("input", function() {
  var from = stringToDate($("#searchFrom").val());
  var to = stringToDate($("#searchTo").val());

  $(".a tr").each(function() {
    var row = $(this);
    var date = stringToDate(row.find("td").eq(4).text());
    
    //show all rows by default
    var show = true;

    //if from date is valid and row date is less than from date, hide the row
    if (from && date < from)
      show = false;
    
    //if to date is valid and row date is greater than to date, hide the row
    if (to && date > to)
      show = false;

    if (show)
      row.show();
    else
      row.hide();
  });
});

//parse entered date. return NaN if invalid
function stringToDate(s) {
  var ret = NaN;
  var parts = s.split("-");
  date = new Date(parts[2], parts[1], parts[0]);
  if (!isNaN(date.getTime())) {
    ret = date;
  }
  return ret;
}

//parse entered date. return NaN if invalid

        </script>
</main>
</body>
</html>